.section-clients {
    padding: 5rem 1rem;
}
.section-clients-list {
    display: flex;
    justify-content: space-between;
    &__item {
        margin: 0;
        padding: 0;
    }
}
.icon-clients {
    width: 100px;
    cursor: pointer;
    transition: $transition;
    &:hover {
        fill: $color-hover;
    }
}
