.section-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem 1rem;
    gap: 1rem;
    @media (max-width: 1161px) {
        justify-content: center;
    }
}

.section-features-item {
    width: 270px;
    margin-bottom: 1rem;

    &__img {
        img {
            border-radius: 5px;
        }
    }

    &__title {
        text-transform: uppercase;
        margin: 0.5rem 0;
        font-weight: 600;
        color: $color-text;
    }

    &__text {
        color: $color-text-tr;
    }
}
