.section-navigation-outer {
    border-bottom: 2px solid $color-border;
}

.section-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 700px) {
        justify-content: center;
    }

    &__logo-and-nav {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        @media (max-width: 563px) {
            flex-direction: column;
        }
    }
}
.logo {
    font-size: $fs-lg;
    margin-right: 3rem;
    font-weight: 800;
    text-decoration: none;
    display: block;
    color: $color-text;
}
.color-span {
    color: $color-hover;
}
.menu {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
        &--active {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 5px;
                border-radius: 5px;
                color: $color-hover;
                transition: $transition;
                margin-top: -2px;
                background-color: $color-hover;
            }
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 5px;
            border-radius: 5px;
            color: $color-hover;
            transition: $transition;
            margin-top: -2px;
        }
    }

    &__link {
        text-decoration: none;
        display: block;
        padding: 1.5rem 0;
        color: $color-text;
        font-weight: 600;
        transition: $transition;
        &:hover {
            color: $color-hover;
        }
    }
}
.contacts {
    display: flex;
    &__item {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        text-decoration: none;
        display: block;
        padding: 1.5rem 0;
        color: $color-text;
        transition: $transition;

        &:hover {
            color: $color-hover;
            .icon {
                fill: $color-hover;
            }
        }
    }
}
.center {
    display: flex;
    justify-content: center;
}
