// === COLORS ===
$color-bg: #f1f0f0;
$color-bg-footer: #b0b0bb;
$color-text: #2b2c34;
$color-text-tr: #2b2c34b6;
$color-border: #2b2c34;
$color-hover: #6246ea;
$color-white: #fff;
// === /COLORS ===

// === FONTS ===
$fs-md: 14px;
$fs-lg: 18px;
$fs-xl: 24px;
$fs-xxxl: 44px;
// === /FONTS ===

// === ANIMATION ===
$transition: 0.2s;
// === /ANIMATION ===
